/* Can use colour picker tools online to get the hexadecimal */
/* Can use colour picker tool in vscode by hovering over colour below */
h1{
    color: #4e2c2c;
    /* border-color: plum;
    border-width: 5px;
    border-style: solid; */
    border: 2px dashed plum;
}
h4{
    color: rgba(5, 197, 5, .6);
    background: rgb(248, 87, 12);
}
li{
    color: purple;
}
body{
    /* background: pink; */
    background: url(https://i.pinimg.com/originals/ce/ae/17/ceae17d7c7fb4260c9660016b7d6e25d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}